<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Django Formset JS example</title>

{{ formset.media }}

</head>
<body>
    <form action="." method="post">{% csrf_token %}

    {% load formset_tags %}

    <div id="formset" data-formset-prefix="{{ formset.prefix }}">
        {{ formset.management_form }}

        <div data-formset-body>
            <!-- New forms will be inserted in here -->
            {% for form in formset %}
                <div data-formset-form>
                	<label for="id_{{ form.foo.name }}">{{ form.foo.label }}</label>
                    {{ form.foo }}
                    
                    <div style="display: nogne;">
                    	{{ form.DELETE }}
                    	{{ form.ORDER }}
                    </div>
                    
                    <button type="button" data-formset-up-button>Move up</button>
                    <button type="button" data-formset-down-button>Move down</button>
                    <button type="button" data-formset-delete-button>Delete form</button>
                </div>
            {% endfor %}
        </div>

        <!-- The empty form template. By wrapping this in a <script> tag, the
        __prefix__ placeholder can easily be replaced in both attributes and
        any scripts -->
        <script type="form-template" data-formset-empty-form>
            {% escapescript %}
                <div data-formset-form>
                	<label for="id_{{ formset.empty_form.foo.name }}">{{ formset.empty_form.foo.label }}</label>
                    {{ formset.empty_form.foo }}
                    
                    <div style="display: ngone;">
                    	{{ formset.empty_form.DELETE }}
                    	{{ formset.empty_form.ORDER }}
                    </div>
                    
                    <button type="button" data-formset-up-button>Move up</button>
                    <button type="button" data-formset-down-button>Move down</button>
                    <button type="button" data-formset-delete-button>Delete form</button>
                </div>
            {% endescapescript %}
        </script>

        <!-- This button will add a new form when clicked -->
        <input type="button" value="Add another" data-formset-add>

        <script>jQuery(function($) {
            $("#formset").formset({animateForms:true, ordering:true});
        });</script>

    </div>

    <button type="submit">Submit</button>

    </form>
</body>
</html>
